p{
    font-size: 25px;
}
h1{
    color:bisque;
    font-size: 50px; /*the main text for the page */
    padding: 0px;
}
body {
    background-image: url("the-brook-trout-or-eastern-brook-trout-fish-salvelinus-fontinalis.jpg"); 
    width: auto;
    height: auto;
    text-align: center;
    
}
*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;   /*game canvas and all the styles for the game */
    margin: auto;
    overflow: hidden;
    background-color: salmon;
}
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;              /*the styles for the blocks*/
    left: 400px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;             /*the hole the player goes throught and the syles for the block*/
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}
#character{
    width: 50px;
    height: 20px;
    background-color: Blue;  /*the charcter you play as and the style of the character*/
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

